<table>
  <th>Legislator</th>
  <th>Twitter</th>
  <th>Facebook</th>
  <th>Email Form</th>
  <% @response["results"].each do |rep| %>
    <tr>
      <td><%= rep["first_name"] + " " + rep["last_name"]%></td>
      <td><%= link_to rep["twitter_id"]  %></td>
      <td><%= link_to rep["facebook_id"] %></td>
      <td><%= link_to rep["contact_form"] %></td>
    </tr>
  <% end %>

</table>