<div class="contactResultsContainer">
  <h1>Contact your representatives</h1>
  <p>Let congress know that you care about the spending disparity between education and incarceration in the U.S.</p>
  <%= render 'legislators_contact_info' %>
</div>