<section id="anecdote">

    <h1 class='title center'>
  WHERE SHOULD THE AMERICAN TAXPAYERS<br> BE SPENDING THEIR MONEY?
  </h1>
  <div class="about">
  <p>
As much as 90% of juveniles who are sent to detention centers wind up back in the justice system.  Nationally, 60% of adults that are incarcerated will also return to prison.<hr>

What do we pay for these outcomes?  Taxpayers foot some shocking bills: around $40,000 to incarceate an adult and upwards of $200,000 to incarcerate a juvenile.  Meanwhile, our schools experiencing cuts - they are under-staffed, under-resourced.

We spend roughly $10,000 to educate a child per year.

What does this spending disparity say about us? <br><br> At BooksNotBars, we believe that we should aspire to flip the ratio.  We invite you to explore, get the facts, and take a stand.  use our action toolkit to send a msg to your local politicians or find ways to get involved in your neighborhood. <hr><p>

</section>
