<section id="anecdote">

    <h1 class='title center'>
  WHERE SHOULD THE AMERICAN TAXPAYERS<br> BE SPENDING THEIR MONEY?
  </h1>
  <div class="about">
  <p>
America spends 4 times more money to incarcerate a person than we do educating them.  this occurs in spite of 1) the overwhelming evidence of the value (ROI) on education (particularly early education) and 2) the overwhelming evidence of the failure of our criminal justice system to reform those who pass through it.<hr>

What does this spending disparity say about us?  At 4:1, we believe that we should aspire to flip the ratio.  We invite you to explore, get the facts, and take a stand.  use our action toolkit to send a msg to your local politicians or find ways to get involved in your neighborhood. <hr>

Check out series of interactive data visualizations of american CJ/Corrections/spending.

incarceration rates.
by geography and demographic and time
incarceration spending.
comparative spending</p>
  </div>

</section>
