<section id="explore">

    <h1>
  THE WORLD HAS STOPPED MOVING
  </h1>
  <div class="about">
  <p>
Just a few generations ago, physical activity was an integral part of daily life. In the name of progress, we've now chipped away at it so thoroughly that physical inactivity actually seems normal.

In less than two generations, physical activity has dropped by 20% in the U.K. and 32% in the U.S. In China, the drop is 45% in less than one generation. Vehicles, machines and technology now do our moving for us. What we do in our leisure time doesn't come close to making up for what we've lost.
</p>  
</div>

 <button id="close" value="close">close</button>
  <div  id="vmap" class="center"></div>


  <div class="stats">
    <ul>
      <h2 id="state">U.S.A </h2>
      <li><h3>Cost per pupil</h3><p id="pupil_cost">10,000</p></li>
      <li><h3>Cost per inmate</h3><p id="inmate_cost">40,000</p></li>
    </ul>
    
    <div id="chart_holder"></div>
  
  </div>
<!-- 
  <div class="nextZone" id="exploreZone">
    <svg class="tick" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polygon points="0,0 150,0 75,50" style="fill:rgba(218,33,50,1);"/>
    </svg>
  </div>
 -->
</section>
