<section id = 'facts'>
<div class="cover cover_gradient"></div>
  <div id='factsDiv'>
    <div class="factPanel">
     <!--  <div id="factPanel1"> -->


      <!-- </div> -->

          <!-- Carousel Tile that slides 4 tile faces every 2.5 seconds -->
    <div id="factPanel2" class="live-tile" data-mode="carousel" data-direction="horizontal" data-delay="2500">
        <div class="nycprice center">
            <h1><span class='fact-red'>$167,731</span> per inmate in NYC</h1>
            <span class="tile-title">source</span>
        </div>
        <div class ="incrate">
            <h1><span class='fact-red'>300%</span> national increase in incarcerations between 1982-2010</h1>
            <span class="tile-title accent">source</span>
        </div>
        <div class ="earlyed">
            <h1>1 year of early childhood education --> decreases likilihood of incarceration by 40%</h1>
            <span class="tile-title">source</span>
        </div>
        <div>
            <h1></h1>
            <span class="tile-title accent">source</span>
        </div>
    </div>
      </div>
       </div>
    <!-- </div> -->
  <div id="factPanel" class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="2500">
      <div class ="revolving"></div>
      <div class='recidivism'></div>
      <div class="abc"></div>
  </div>

  <div class="nextZone" id="factsZone">
    <svg class="tick" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polygon points="0,0 150,0 75,50" style="fill:black;"/>
    </svg>
  </div>

</section>
