<section id = 'facts'>
<div class="cover cover_gradient"></div>

  <div id = 'tileholder'>
    <div id='row1' class='row'>
      <div id='fact1' class="live-tile" data-mode="flip" data-delay="4000">
        <div class='front'>
          <span class="question">How much does Chicago spend on each inmate per year?</span>
        </div>
        <div class='back'>
          <span class="answer">
            <p class="answerHead">$52,925</p>
            <p class="answerBody">...which is less than a THIRD of the cost in NYC.<br><br>$167k per inmate per year</p></span>
          <span class="tweet">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://booksnotbars.herokuapp.com" data-text="How much does Chicago spend on each inmate per year? $52,925!

Find out more at" data-via="booksnotbars1" data-size="large" data-hashtags="booksnotbars">Tweet</a>
          </span>
        </div>
      </div>
      <div id='fact2' class="live-tile" data-mode="flip" data-delay="4000">
        <div class='front'>
          <span class="question">How much has the rate of incarceration gone up in America since 1982?</span>
        </div>
        <div class='back'>
          <span class="answer">
            <p class="answerHead">300%</p>
            <p class="answerBody">Das some serrus bull shit you ask me. Good lo' das a lotta money.</p></span>
          <span class="tweet">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://booksnotbars.herokuapp.com" data-text="This is NOT cool.

Find out more at" data-via="booksnotbars1" data-size="large" data-hashtags="booksnotbars">Tweet</a>
          </span>
        </div>
      </div>
    </div>
    <div id='row2' class='row'>
      <div id='fact3' class="live-tile" data-mode="flip" data-delay="4000">
        <div class='front'>
          <span class="question">By what percent does 1 year of preschool reduce a child's odds of being incarcerated?</span>
        </div>
        <div class='back'>
          <span class="answer">
            <p class="answerHead">40%</p>
          <p class="answerBody">Das some serrus bull shit you ask me. Good lo' das a lotta money.</p></span>
          <span class="tweet">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://booksnotbars.herokuapp.com" data-text="This is NOT cool.

Find out more at" data-via="booksnotbars1" data-size="large" data-hashtags="booksnotbars">Tweet</a>
          </span>
        </div>
      </div>
      <div id='fact4' class="live-tile" data-mode="flip" data-delay="4000">
        <div class='front'>
          <span class="question">How many children could be enrolled in early learning programs for the cost of incarcerating 1 teen in juvenile detention?</span>
          </div>
        <div class='back'>
          <span class="answer">
            <p class="answerHead">35</p>
            <p class="answerBody">Incrarcerating 1 teenager costs more than $200,000/year.  One year of early learning costs ≈$6,000.</p></span>
          <span class="tweet">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://booksnotbars.herokuapp.com" data-text="This is NOT cool.

Find out more at" data-via="booksnotbars1" data-size="large" data-hashtags="booksnotbars">Tweet</a>
          </span>
        </div>
      </div>
    </div>
  </div>




  <!-- <div id='factsDiv'>
    <div class="factPanel">
      <div id="factPanel2" class="live-tile" data-mode="slip" data-direction="horizontal" data-delay="2500">
        <div class="nycprice center">
            <h1>Taxpayers in Chicago spend<span class='fact-redbs'> $52,925</span><hr> <span class='big'><em>per </em></span>inmate.</h1>
            <span class="tile-title">source</span>
        </div>
        <div class ="incrate center" style="display: none;">
            <h1>Incarcerations have increased<br><span class='fact-red center'>300%</span><br> nationally since 1982</h1>
            <span class="tile-title accent">source</span>
        </div>
        <div class ="earlyed center" style="display: none;">
>>>>>>> 67ee80a17ef8478d524768358e64850afa78a1d7
            <h1>Just <span class='fact-red2 center'>1 YEAR</span> of preschool<hr> <span class='bigtext'>decreases</span> <br>incarceration rates by 40%</h1>
        </div>
         <div class ="earlyed2 center">

            <div class='cols1'><h1>$Cost of detaining 1 at-risk teenager in juvenile detention</h1></div>
<<<<<<< HEAD
             <div class='cols1 center'><h1 class><span class='bigtext'> = </span></h1></div>
             <div class='cols1'><h1>$Cost of enrolling 35 children could be enrolled in early learning programs.</h1>
             </div>
=======
             <div class='cols1 center'><h1 class><span class='bigtextandpos'> = </span></h1></div>
             <div class='cols1'><h1>$Cost of enrolling 35 children could be enrolled in early learning programs.</h1></div>
>>>>>>> 67ee80a17ef8478d524768358e64850afa78a1d7

        </div>
      </div>

    </div>
  </div> -->


  <div class="nextZone" id="factsZone">
    <svg class="tick" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polygon points="0,0 150,0 75,50" style="fill:black;"/>
    </svg>
  </div>

</section>
