<section id = 'facts'>
<div class="cover cover_gradient"></div>

  <div id = 'tileholder'>
    <div id='row1' class='row'>
      <div id='fact1' class="live-tile" data-mode="flip" data-delay="4000">
        <div class='front'>
          <span class="question">How much does Chicago spend on each inmate per year?</span>
        </div>
        <div class='back'>
          <span class="answer">
            <p class="answerHead">$52,925</p>
            <p class="answerBody">...which is less than a THIRD of the cost in NYC.<br><br>$167k per inmate per year</p></span>
          <span class="tweet">
          <p class="tweetHeader"></p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://booksnotbars.herokuapp.com" data-text="How much does Chicago spend on each inmate per year? $52,925!
Find out more at" data-via="booksnotbars1" data-size="large" data-hashtags="booksnotbars">Tweet</a>
          </span>
        </div>
      </div>
      <div id='fact2' class="live-tile" data-mode="flip" data-delay="4000">
        <div class='front'>
          <span class="question">How much has the rate of incarceration gone up in America since 1982?</span>
        </div>
        <div class='back'>
          <span class="answer">
            <p class="answerHead">300%</p>
            <p class="answerBody">Since 2002, the United States has had the highest incarceration rate in the world.</p></span>
          <span class="tweet">
          <p class="tweetHeader"></p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://booksnotbars.herokuapp.com" data-text="Incarceration has gone up 300% in America since 1982!
Find out more at" data-via="booksnotbars1" data-size="large" data-hashtags="booksnotbars">Tweet</a>
          </span>
        </div>
      </div>
    </div>
    <div id='row2' class='row'>
      <div id='fact3' class="live-tile" data-mode="flip" data-delay="4000">
        <div class='front'>
          <span class="question">By what percent does 1 year of preschool reduce a child's odds of being incarcerated?</span>
        </div>
        <div class='back'>
          <span class="answer">
            <p class="answerHead">40%</p>
            <p class="answerBody">At age 40, preschool attenders' incarceration rates are 28% vs. 52%, and 32% vs. 48% for violent crimes.</p>
            <p class="source">source: <a href="http://evidencebasedprograms.org/1366-2/65-2">http://evidencebasedprograms.org/1366-2/65-2</a></p>
          </span>

          <span class="tweet">
          <p class="tweetHeader"></p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://booksnotbars.herokuapp.com" data-text="1 year of preschool reduces a child's odds of incarceration by 40%!
Find out more at" data-via="booksnotbars1" data-size="large" data-hashtags="booksnotbars">Tweet</a>
          </span>
        </div>
      </div>
      <div id='fact4' class="live-tile" data-mode="flip" data-delay="4000">
        <div class='front'>
          <span class="question">How many children could be enrolled in early learning programs for the cost of incarcerating 1 teen in juvenile detention?</span>
          </div>
        <div class='back'>
          <span class="answer">
            <p class="answerHead">35</p>
            <p class="answerBody">Incrarcerating 1 teenager costs more than $200,000/year.<br>One year of early learning costs ≈$6,000.</p></span>
          <span class="tweet">
          <p class="tweetHeader"></p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://booksnotbars.herokuapp.com" data-text="Juvie is 35 times more expensive than early learning programs.
Learn more at" data-via="booksnotbars1" data-size="large" data-hashtags="booksnotbars">Tweet</a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="nextZone" id="factsZone">
    <svg class="tick" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polygon points="0,0 150,0 75,50" style="fill:black;"/>
    </svg>
  </div>

</section>
