<section id = 'facts'>

  <div id="factPanel" class="live-tile" data-mode="carousel" data-direction="vertical" data-delay="2500">
      <div class ="revolving"></div>
      <div class='recidivism'></div>
      <div class="abc"></div>
  </div>

  <div class="nextZone" id="factsZone">
    <svg class="tick" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polygon points="0,0 150,0 75,50" style="fill:black;"/>
    </svg>
  </div>

</section>
