<section id = 'facts'>
<div class="cover cover_gradient"></div>
  <div id='factsDiv'>
    <div class="factPanel">
      <div id="factPanel2" class="live-tile" data-mode="carousel" data-direction="horizontal" data-delay="2500">
        <div class="nycprice center">
            <h1>Taxpayers in Chicago spend<span class='fact-redbs'> $52,925</span><hr> <span class='big'><em>per </em></span>inmate.</h1>
            <span class="tile-title">source</span>
        </div>
        <div class ="incrate center" style="display: none;">
            <h1>Incarcerations have increased<br><span class='fact-red center'>300%</span><br> nationally since 1982</h1>
            <span class="tile-title accent">source</span>
        </div>
        <div class ="earlyed center" style="display: none;">
            <h1>Just <span class='fact-red2 center'>1 YEAR</span> of preschool<hr> <span class='bigtext'>decreases</span> <br>incarceration rates by 40%</h1>
            <span class="tile-title accent">source</span>
        </div>
         <div class ="earlyed2 center" style="display: none;">

            <div class='cols1'><h1>$Cost of detaining 1 at-risk teenager in juvenile detention</h1></div>
             <div class='cols1 center'><h1 class><span class='bigtext'> = </span></h1></div>
             <div class='cols1'><h1>$Cost of enrolling 35 children could be enrolled in early learning programs.</h1></div>

            <span class="tile-title accent">source</span>
        </div>
      </div>

    </div>
  </div>


  <div class="nextZone" id="factsZone">
    <svg class="tick" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polygon points="0,0 150,0 75,50" style="fill:black;"/>
    </svg>
  </div>

</section>
