<section id = 'facts'>

  <div id='factsDiv'>
    <div class="factPanel">
      <div id="factPanel1">
        <div class="red live-tile" data-mode="flip" data-delay="4000">
          <div>
              <img class="full" src="/images/sample/3tw.gif" alt="3" />
              <span class="tile-title">flip tile front</span>
          </div>
          <div>
              <img class="full" src="/images/sample/4tw.gif" alt="4" />
              <span class="tile-title">flip tile back</span>
          </div>
        </div>
      </div>
      <div id="factPanel2">
          <div class="list-tile mango">
            <span class="tile-title">flip list</span>
            <ul class="flip-list fourTiles" data-mode="flip-list" data-delay="2000">
                <li>
                    <div><img class="full" src="/images/sample/1t.gif" alt="1" /></div>
                    <div><img class="full" src="/images/sample/1tw.gif" alt="1" /></div>
                </li>
                <li>
                    <div><img class="full" src="/images/sample/2t.gif" alt="2" /></div>
                    <div><img class="full" src="/images/sample/2tw.gif" alt="2" /></div>
                </li>
                <li>
                    <div><img class="full" src="/images/sample/3t.gif" alt="3" /></div>
                    <div><img class="full" src="/images/sample/3tw.gif" alt="3" /></div>
                </li>
                <li data-direction="horizontal">
                    <div><img class="full" src="/images/sample/4t.gif" alt="4" /></div>
                    <div><img class="full" src="/images/sample/4tw.gif" alt="4" /></div>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="nextZone" id="factsZone">
    <svg class="tick" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polygon points="0,0 150,0 75,50" style="fill:black;"/>
    </svg>
  </div>

</section>
