<section id = 'toolkit'>
  <div id='toolkitDiv'>
    <!-- <h1>Take action</h1> -->
    <%= form_tag("/legislators", method: "get") do %>
      <%= hidden_field_tag(:latitude) %>
      <%= hidden_field_tag(:longitude) %>
      <%= submit_tag "Contact your representatives", id: "contactReps" %>
    <% end %>
    
    <a href='/organizations' id="showOrgs"></a>
  </div>
</section>