<section id = 'toolkit'>
  <div id='toolkitDiv'>
    <h1>Action toolkit</h1>
    <ul>
      <li><a id="contactReps" href="#">Contact your representatives</a></li>
      <li><a id="signPetition" href="#">Sign a petition</a></li>
      <li><a id="shareStory" href="#">Share your story</a></li>
    </ul>
  </div>
  <div id="contactInfo"></div>
</section>
