<section id = 'toolkit'>
  <div id='toolkitDiv'>
    <h1>Action toolkit</h1>
    <a id="contactReps" href="#">Contact your representatives</a>
    <a id="showOrgs" href="#">Support a cause near you</a>
    <div id="map-canvas"></div>
  </div>
  <div id="contactInfo">
  </div>
</section>
