<section id = 'toolkit'>
  <div id='toolkitDiv'>
    <!-- <h1>Take action</h1> -->
    <%= form_tag("/legislators", method: "get") do %>
      <%= hidden_field_tag(:latitude) %>
      <%= hidden_field_tag(:longitude) %>
      <%= image_submit_tag 'tweetCongressBlueOnWhite.png', id: "contactReps" %>
    <% end %>

    <a href='/organizations'><div class="toolkitIcons" id="showOrgs"></div></a>
	<div class="toolkitText">
	  <span>TweetCongress</span>
	  <span>LocalActivities</span>
	</div>
  </div>
</section>