<section id = 'toolkit'>
  <div id='toolkitDiv'>
    <h1>Take action</h1>
    <a id="contactReps" href="#">Contact your representatives</a>
    <a id="showOrgs" href="#">Support a cause near you</a>
    <div id="contactInfo"></div>
    <div id="map-section">
      <div id="map-canvas"></div>
    </div>
  </div>
</section>