<section class="home">
  <div id="vmap" style="width: 800px; height: 600px;"></div>
  <div class="stats">
    <ul>
      <li id="recidivism"><h3>Recidivism</h3><p>90%</p></li>
      <li id="pupil_cost"><h3>Cost per pupil</h3><p>10,000</p></li>
      <li id="inmate_cost"><h3>Cost per inmate</h3><p>40,000</p></li>
    </ul>
  </div>
</section>
