
html,
body{
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}

.cover{
  background: url('blackorchid.png') repeat;
  position: fixed;
  height: 100%; width: 100%;
  opacity: 0.7;
}

.center{
  display: table;
  margin: 0 auto;
  text-align: center;
}

.nextZone {
  display: inline;
  position:absolute;
  bottom: 0;
  z-index: 90;
  width: 100%;
  height: 75px;
}

#sitZone {
  background-color: black;
}
#factsZone {
  background-color: rgba(218,33,50,1);
}
#exploreZone {
  background-color: white;
}

.tick {
  top:0px;
  z-index: 100;
  width: 300;
  height: auto;
  position: relative;
  margin-left: 5%;
  display: inline;
}

#factsTick {
border-color: black transparent transparent transparent;
}

#exploreTick {
border-color: rgba(218,33,50,1) transparent transparent transparent;
}

nav{
  position: fixed;
  top:15%;
  left:5%;
  z-index:2;
}

nav ul {
  padding: 0;
}
nav ul li{
  list-style: none;
  padding: 10px 0px;
}

nav > ul > li > a {
  text-decoration: none;
  font-weight: 300;
  color: black;
}

.black {
  color: black;
}

.white {
  color: white;
}

a.black:link {color:'#000'; font-weight: 300;}
a.black:visited {color:'#000'; font-weight: 300;}
a.black:hover {color:'#000'; font-weight: 700;}
a.black:active {color:'#000'; font-weight: 700;}

a.white:link {color:'white';font-weight: 300;}
a.white:visited {color:'white';font-weight: 300;}
a.white:hover {color:'white';font-weight: 700;}
a.white:active {color:'white'; font-weight: 700;}

#sitPic {
  position: absolute;
  top: 10%;
  right: 10%;
  font-family: 'AmericanTypewriter';
  font-size: 35vw; /* vw ~ view width ; 1vw = 1% of window */
}

.factPanel {
  top: 25%;
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
}

.factPanel div {
  border: 5px solid white;
  display: inline-block;
  height: 350px;
  width: 350px;
  margin: 20px;
}

div.container,
section.explore{
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}

section{
  height:100%;
  width: 100%;
  top: 0; left:0;
  -webkit-perspective: 15000; perspective: 15000;
}

section#situation{
background-color: white;
}

section#toolkit{
background-color: white;
height: 103%;
}

section#facts{
background-color: black;
color: white;
/*margin-bottom: -40px;*/

}

section#explore {
  background-color: rgba(218,33,50,1);
/*  margin-top: 0px;*/
}

section#explore > div#vmap{
  -webkit-transform-origin: bottom center;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1s ease-in-out;
/*  margin: 1% auto;*/
  height: 60%; width: 60%;
  opacity: 0.9;
  top: 10%;
}

section#explore > div#vmap > svg > g > path{
  -webkit-filter: drop-shadow(0px 10px 0px rgba(255,255,255,1),
    0px 14px 10px rgba(255,255,255,1),
    0px 24px 2px rgba(255,255,255,1),
    0px 34px 30px rgba(255,255,255,1));
}

section#explore > div#vmap.display{
  -webkit-transform: translateY(50px) translateZ(200px) rotateX(65deg);
    display: table;
    margin: 1% auto;      /*console.log(board.count);      console.log(board.count);      console.log(board.count);      console.log(board.count);      console.log(board.count);*/
    height: 880px; width: 880px;
    text-align: center;
}


section#explore > div.stats{
  text-align: right;
  color: rgba(240,242,241,0.8);
  position: relative;
  width: 200px;
  height: 500px;
  bottom: 400px;
  left:0;
  padding:0; margin: 0;
}
section#explore > div.stats > ul {
  padding:200px 8px; margin: 0;
  text-align: right;
  font-size: 14px;
}
section#explore > div.stats ul > li{
  list-style: none;
  padding:5px 0;
  border-bottom: #ccc inset 1px;
  border-top: #ccc inset 1px;
  text-align: right;
  width: 100%;
}
section#explore > div.stats ul > li:last-child{
  border: none;
  padding-top: 80px;
}


section.home > div.stats ul > li > h3,
section.home > div.stats ul > li > p{
  display: inline;
  margin: 4px;
}


section.home > div.stats > div#donut_holder{
  position: fixed;
  top: 100px;
  left:25%;
  opacity: 1;
  height: 300px;
  width: 560px;
  -webkit-transition: all 1s ease-in-out;
}
section.home > div.stats > div#donut_holder .arc,
section.home > div.stats > div#donut_holder g{
  -webkit-transition: all 1s ease-in-out;
}
section.home > div#vmap > .arc_show{
  opacity: 0.6;
  height:950px;
  background-color: white
  color: black;
}

button#close{
  border: none;
  border-radius: none;
  width: 200px;
  height: 50px;
  background: rgba(21,21,21,1);
  position: absolute;
  bottom:5%; right:5%;
  z-index:999;
  color:rgba(240,242,241,0.95);
}

/* ----------------------OVERLAY----------------------*/

div#overlay {
  display: none;
  z-index: 2;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
}
div#specialBox{
  display: none;
  position: fixed;
  z-index: 3;
  margin: 150px 30% 0px 30%;
  width: 500px;
  height: 300px;
  background: rgba(255,255,255,0.5);
  color: #000;
}
button#agree{
  border: none;
  border-radius: none;
  width: 200px;
  height: 50px;
  background: rgba(21,21,21,1);
  position: absolute;
  bottom:5%; right:5%;
  z-index:999;
  color:rgba(240,242,241,0.95);
}

.zipcode-form {
  display: none;
}

