
html,
body{
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}

.cover{
  background: url('blackorchid.png') repeat;
  position: fixed;
  height: 100%; width: 100%;
  opacity: 0.7;
}

.center{
  display: table;
  margin: 0 auto;
  text-align: center;
}

nav{
  position: fixed;
  top: 40px;
  height: 80px;
  top:0; left:0;
  z-index:2;
  padding:0px 10px;
  border: 1px dashed red;
}

nav ul {
  padding: 0;
}
nav ul li{
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  font-weight: 300;
  color: black;
}

.black {
  color: black;
}

.white {
  color: white;
}

  /*nav > ul> li > a:link {color:'#000'; font-weight: 300;}
  nav > ul> li > a:visited {color:'#000'; font-weight: 300;}
  nav > ul> li > a:hover {color:'#000'; font-weight: 700;}
  nav > ul> li > a:active {color:'#000'; font-weight: 700;}*/




  nav ul a li.white:link {color:'white';font-weight: 300;}       unvisited link
  nav ul a li.white:visited {color:'white';font-weight: 300;}  /* visited link
  /*nav ul a li.white:hover {color:'white';font-weight: 700;}  /* mouse over link */*/
  /*nav ul a li.white:active {color:'white'; font-weight: 700;}  /* selected link */*/*/
*/

#4to1 {
  position: fixed;
  float:right;
  top: 100px;
  left: 30%;
}

footer{
position: absolute;
 width: 100%;
 height: 60px;
 bottom:0; left:0;
 z-index:2;
 background:rgba(240,242,241,0);
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

div.container,
section.explore{
  height: 100%; width: 100%;
  margin: 0; padding: 0;
}


section{
  height:100%;
  width: 100%;
}

section{
  top: 0; left:0;
  -webkit-perspective: 15000; perspective: 15000;
}

section#situation{
background-color: white;
}

section#facts{
background-color: black;
color: white;
height: 950px;
margin-bottom: -16px;

}

section#explore {
  background-color: rgba(218,33,50,1);
  height: 950px;
}

section#explore > div#vmap{
  -webkit-transform-origin: bottom center;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.2s linear;
  margin: 1% auto;
  height: 880px; width: 880px;
  opacity: 0.9;
}

section#explore > div#vmap > svg > g > path{
  -webkit-filter: drop-shadow(0px 10px 0px rgba(255,255,255,1),
    0px 14px 10px rgba(255,255,255,1),
    0px 24px 2px rgba(255,255,255,1),
    0px 34px 30px rgba(255,255,255,1));
}

section#explore > div#vmap.display{
  -webkit-transform: translateY(80px) translateZ(200px) rotateX(65deg);
    display: table;
    margin: 1% auto;
    height: 880px; width: 880px;
    text-align: center;
}


section#explore > div.stats{
  text-align: right;
  color: rgba(240,242,241,0.8);
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  left:0;
  padding:0; margin: 0;
}
section#explore > div.stats > ul {
  padding:200px 8px; margin: 0;
  text-align: right;
  font-size: 14px;
}
section#explore > div.stats ul > li{
  list-style: none;
  padding:5px 0;
  border-bottom: #ccc inset 1px;
  border-top: #ccc inset 1px;
  text-align: right;
  width: 100%;
}
section#explore > div.stats ul > li:last-child{
  border: none;
}
section#explore > div.stats ul > li > h3,
section#explore > div.stats ul > li > p{
  display: inline;
  margin: 4px;
}

section#toolkit{
  height:950px;
  background-color: white
  color: black;
}

button#close{
  border: none;
  border-radius: none;
  width: 200px;
  height: 50px;
  background: rgba(21,21,21,1);
  position: absolute;
  bottom:5%; right:5%;
  z-index:999;
  color:rgba(240,242,241,0.95);
}

/* ----------------------OVERLAY----------------------*/

div#overlay {
  display: none;
  z-index: 2;
  background: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
}
div#specialBox{
  display: none;
  position: fixed;
  z-index: 3;
  margin: 150px 30% 0px 30%;
  width: 500px;
  height: 300px;
  background: rgba(255,255,255,0.5);
  color: #000;
}
button#agree{
  border: none;
  border-radius: none;
  width: 200px;
  height: 50px;
  background: rgba(21,21,21,1);
  position: absolute;
  bottom:5%; right:5%;
  z-index:999;
  color:rgba(240,242,241,0.95);
}

