<h1>Help out in your community </h1>
<p>Re-render map</p>
<div class="rerenderMap">
  <%= form_tag("/rerender", method: "get", id: "rerender" ) do %>
  <%= label_tag(:zipcode, "Enter your zipcode:") %>
  <%= text_field_tag(:zipcode) %>
  <%= submit_tag "Find" %>
<% end %>
</div>
<div id="map-section" data-role="page" >
  <div id="map-canvas"></div>
</div>