<h1>Help out in your community </h1>
<p>Re-render map</p>
<div class="rerenderMap"><%= render '/representatives/zipcode_form' %></div>
<div id="map-section" data-role="page" >
  <div id="map-canvas"></div>
</div>