<div class="newLocation">
  <h1>Add a new organization</h1>
  <p>Add a new organization location to the Books Not Bars database. With valid addresses or zipcodes, markers for these organizations will appear on the 'Get invoved' page.</p>
  <%= render 'location_form' %>
</div>