<!DOCTYPE html>
<html>
<head>
  <title>CurrentBooksBar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav>
      <h1>Books not Bars</h1>
      <button id="close" value="close">close</button>
    </nav>
    
    <div class="container">
      <%= yield %>
    </div>
    <footer>

    </footer>
  </body>
</html>
